@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
			h1{
				text-align: center;
				font-family: 'Ubuntu', sans-serif;
				
			}
			Body{
			background-color: lightskyblue;
			}
		
			h3{
				text-align: center;
				

			}
		
